body {
    text-align: center; /* จัดตัวอักษรให้อยู่กลาง */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* เลือกฟอนต์ที่เหมาะสม */
}

h1, h2 {
    font-size: 3em; /* ปรับขนาดตัวอักษรให้ใหญ่ขึ้น */
}

.container {
    text-align: center; /* จัดให้เนื้อหาของ .container อยู่กลาง */
    margin-top: 20px;
}
